@model RoleDetailModel //dto objeleri denir
<h1 class="h3">Edit Role</h1>
<hr>
<div class="row">
    <div class="col-md-12">
        <form asp-controller="Role" asp-action="RoleEdit" method="Post">
            <input type="hidden" name="RoleId" value="@Model.Role.Id">
            <input type="hidden" name="RoleName" value="@Model.Role.Name">

            <h6 class="bg-info text-white p-1">Role Ekle @Model.Role.Name</h6>
            <table class="table bordored table-sm">
                @if (@Model.NonMembers.Count() == 0)
                {
                    <tr>
                        <td colspan="2">Bütün Kullanıcılar Role Ait </td>
                    </tr>
                }
                else
                {
                    @foreach (var item in Model.NonMembers)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td>
                                <input type="checkbox" name="IdsToAdd" value="@item.Id">
                            </td>
                        </tr>
                    }
                }
            </table>
            <hr>

            <h6 class="bg-info text-white p-1">Rolden Sil @Model.Role.Name</h6>
            <table class="table bordored table-sm">
                @if (@Model.Members.Count() == 0)
                {
                    <tr>
                        <td colspan="2">Role Ait Kullanıcı yok</td>
                    </tr>
                }
                else
                {
                    @foreach (var item in Model.Members)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td>
                                <input type="checkbox" name="IdsToDelete" value="@item.Id">
                            </td>

                        </tr>



                    }
                }


            </table>

            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </div>
            </div>

        </form>
    </div>
</div>